# Exploring the Relationship Between Screen Time Patterns and Insomnia-Related Sleep Disturbances

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns

## Data Loading and Cleaning

In [2]:
df = pd.read_csv('C:\\Users\\Blix\\Documents\\GitHub\\CCDATSCL_PROJECT\\merged_dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date                             84 non-null     object
 1   Total Screen Time                84 non-null     int64
 2   Total Number of Notifications    84 non-null     int64
 3   Total Number of Unlocks          84 non-null     int64
 4   Social Media Usage               84 non-null     int64
 5   Video App Usage                  84 non-null     int64
 6   Games Usage                      84 non-null     int64
 7   0 to 6                           84 non-null     int64
 8   6 to 12                          84 non-null     int64
 9   12 to 18                         84 non-null     int64
 10  18 to 24                         84 non-null     int64
 11  Sleep Start (Time Previous Day)  84 non-null     int64
 12  Sleep End (Time Waken)           84 non-null     int64
 13  Sleep Duration                   84 non-null     int64
 14  Sleep Quality                    84 non-null     int64
 15  Steps                            84 non-null     int64
dtypes: int64(15), object(1)
memory usage: 10.6+ KB

In [4]:
df.head()

,Date,Total Screen Time,Total Number of Notifications,Total Number of Unlocks,Social Media Usage,Video App Usage,Games Usage,0 to 6,6 to 12,12 to 18,18 to 24,Sleep Start (Time Previous Day),Sleep End (Time Waken),Sleep Duration,Sleep Quality,Steps
0,10/27/2025,535,545,108,208,285,42,105,75,192,163,3,10,7,3,5810
1,10/28/2025,812,521,78,259,553,0,150,30,292,340,3,10,7,3,1185
2,10/29/2025,952,440,55,152,598,202,115,243,294,300,2,11,9,4,463
3,10/30/2025,672,471,56,163,332,177,45,283,209,135,1,5,4,2,9111
4,10/31/2025,703,308,60,121,476,106,0,225,247,231,24,6,6,3,4024

In [5]:
df.describe()

,Total Screen Time,Total Number of Notifications,Total Number of Unlocks,Social Media Usage,Video App Usage,Games Usage,0 to 6,6 to 12,12 to 18,18 to 24,Sleep Start (Time Previous Day),Sleep End (Time Waken),Sleep Duration,Sleep Quality,Steps
count,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000
mean,557.666667,423.845238,79.095238,147.583333,323.261905,60.785714,61.642857,122.202381,187.869048,185.952381,8.476190,8.023810,6.523810,2.750000,6140.797619
std,175.823456,91.419264,27.459332,50.946513,143.067102,75.364507,68.560525,68.051855,84.737124,84.546830,9.437781,1.707363,2.273346,1.039868,3828.744642
min,171.000000,254.000000,19.000000,32.000000,82.000000,0.000000,0.000000,0.000000,44.000000,0.000000,1.000000,4.000000,1.000000,1.000000,36.000000
25%,432.750000,350.000000,55.750000,112.750000,212.000000,0.000000,0.000000,73.250000,125.000000,134.250000,2.000000,7.000000,5.000000,2.000000,2621.500000
50%,553.000000,415.500000,78.000000,145.500000,302.000000,29.000000,45.000000,109.500000,178.500000,177.500000,3.000000,8.000000,6.000000,3.000000,5821.000000
75%,672.000000,482.750000,94.250000,177.500000,419.000000,106.000000,91.000000,165.000000,249.250000,252.750000,22.250000,9.000000,8.000000,3.000000,9395.750000
max,1032.000000,673.000000,158.000000,274.000000,847.000000,311.000000,329.000000,312.000000,360.000000,360.000000,24.000000,12.000000,12.000000,8.000000,16342.000000

In [9]:
# Check first and last date in the dataset in terms of Timestamp
df['Date'] = pd.to_datetime(df['Date'])
print("First date in dataset:", df['Date'].min())
print("Last date in dataset:", df['Date'].max())

First date in dataset: 2025-10-27 00:00:00
Last date in dataset: 2026-01-18 00:00:00

In [10]:
df.isna().sum()

Date                               0
Total Screen Time                  0
Total Number of Notifications      0
Total Number of Unlocks            0
Social Media Usage                 0
Video App Usage                    0
Games Usage                        0
0 to 6                             0
6 to 12                            0
12 to 18                           0
18 to 24                           0
Sleep Start (Time Previous Day)    0
Sleep End (Time Waken)             0
Sleep Duration                     0
Sleep Quality                      0
Steps                              0
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(0)

## Feature Engineering

## Exploratory Data Analysis

## Statistical Tests

## Data Split

## Model Training

## Model Optimization

## Model Evaluation